<h1>All Video Games list</h1>

<ul class="games_list">
    {{#each games}}
    <a href="/detail?item={{this.name}}"><li>{{this.name}}</li></a>
    {{/each}}

</ul>
<input type="button" name="test" value="Add Item" onclick={{addItem}}>
<script> </script>
