<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>New game</h3>
    </div>
    <div class="card-body">
      <h1>Add Game</h1>
      <form action="/add-new" method="POST">
      <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Name" autofocus/>
      </div>
      <div class="form-group">
          <input type="text" name="price" class="form-control" placeholder="Price">
      </div>
      <div class="form-group">
          <input type="text" name="version" class="form-control" placeholder="Version">
      </div>
      <div class="form-group">
          <input type="text" name="Available" class="form-control" placeholder="Available">
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-block">Save</button>

      </div>
      </form>
    </div>
  </div>
</div>