 <h1 class="display-4">All Video Games list</h1>
<div class="jumbotron mt-4">
   <ul class="list-group">
    {{#each games}}
    <a href="/detail?item={{this.name}}"><li class="list-group-item">{{this.name}}</li></a>
    {{/each}}

</ul>
</div>

{{!-- <input type="button" name="test" value="Add Item" onclick={{addItem}}> --}}
<script> </script>
