<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Video Game App</title>
    {{!-- BOOTSTRAP --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css">
    {{!--FONT AWESOME  --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    {{!-- CUSTOM CSS --}}
    {{!-- {{#each css}} --}}
    {{!-- <link rel="stylesheet" href="/css/{{this}}"> --}}
    <link rel="stylesheet" href="/css/main.css">

    {{!-- {{/each}} --}}
</head>
<body>
    {{>navigation}}

    <main class="container p-5">
        {{{body}}}
    </main>

    {{!-- BOOTSTRAP 4 --}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>