<section class="card"></section>
    <div class="card-body">
        <h1>About</h1>
        <h2>Jesus Rodriguez</h2>
        <p>I'm a Software Development student. I've collaborated in teams throughout my academic period using methodologies such as the Agile framework to accomplish tasks according to timelines. I have experience writing and editing code in Python, Java, and JavaScript languages. Also, I know the use of databases such as SQL and NoSQL.</p>
    </div>