

<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Editing</h3>
      <h4>{{game.name}} </h4>
    </div>
    <div class="card-body">
      <form action="/edit/{{game.name}}" method="POST">
      
      <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Name" autofocus/>
      </div>
      <div class="form-group">
          <input type="number" name="price" class="form-control" placeholder="Price" min="1" max="100">
      </div>
      <div class="form-group">
          <input type="text" name="version" class="form-control" placeholder="Version">
      </div>
      <div class="form-group">

          <input type="text" name="available" class="form-control" placeholder="Available (true or false)">
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-block">Save</button>

      </div>
      </form>
    </div>
  </div>
</div>